* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em Helvetica, Arial;
}
html, body {
    background: #fff;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}
.header {
    background: #f00 !important;
    text-align: center;
    color: #fff !important;
    font-weight: 500 !important;
    padding-top: .8em;
    padding-bottom: .8em;
}
h3 {
    font-size: 1.5em !important;
    font-weight: bold !important;
    width: 100%;
    border-bottom: 1px solid #333;
    padding: 10px;
    margin: 0px 0px 1.2em 0px;
}
.ui-content {
    text-align: justify;
    text-justify: inter-word;
    -ms-text-justify: inter-word;
}
a {
    text-decoration: none;
}